<mat-toolbar class="menu">
    <mat-toolbar-row>
        <mat-icon aria-hidden="false" aria-label="Example home icon">cloud_upload</mat-icon><span>&nbsp;</span>
        <span class="space-menu">Repositório</span>
        <span class="example-spacer"></span>
        <button mat-raised-button color="primary">
            Cadastrar
            <mat-icon aria-hidden="false" aria-label="Example home icon">add_circle</mat-icon>
        </button><span>&nbsp;</span>
        <button mat-raised-button>
            Listar
            <mat-icon aria-hidden="false" aria-label="Example home icon">list</mat-icon>
        </button><span>&nbsp;</span>
        <button mat-raised-button>
            Atualizar
            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
        </button><span>&nbsp;</span>
        <button mat-raised-button color="warn">
            Remover
            <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>