<mat-toolbar class="menu">

    <mat-toolbar-row>
        <a href="#"><mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">home</mat-icon></a><span>&nbsp;</span>
        <span class="space-menu">Portfolio Angular</span>
        <span class="example-spacer"></span>
        <button mat-raised-button>
            Entrar
            <mat-icon aria-hidden="false" aria-label="Example home icon">input</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<app-usuario-list></app-usuario-list>

<app-perfil-list></app-perfil-list>

<app-permissao-list></app-permissao-list>

<app-funcionalidade-list></app-funcionalidade-list>

<app-politica-list></app-politica-list>

<app-lista-list></app-lista-list>

<app-repositorio-list></app-repositorio-list>

<app-documento-list></app-documento-list>

<app-duvida-list></app-duvida-list>